.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader-panel {
  position: absolute;
  z-index: 100;
  background-color: #00000077;
  /* color: #fff; */
  /* height: 200%; */
  width: 100vw;
  height: 200vh;
}

.loading {
  width: 8rem ;
  position: absolute;
  /* position: sticky; */
}