.ProductDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* margin: 1rem 2rem 1rem 0; */
  /* align-self: center; */
  margin: 2rem 10%;
  /* margin: auto 0%; */
}

.ProductDetails-image-block {
  display: flex;
  /* margin-bottom: 1rem; */
  border: solid rgb(211, 211, 211) 1px;
  border-radius: 20px;
  margin: 1rem 1rem 1rem 2.5rem;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.ProductDetails-image-container {
  /* cursor: pointer; */
  margin: 0.2rem 1.5rem;
  width: 15rem;
  height: 22rem;
  display: flex;
  align-items: center;
}

/* .ProductDetails-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
} */

.ProductDetails-image-gift,
.ProductDetails-image-winebox,
.ProductDetails-image-single {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

/* .ProductDetails-image-combo,
.ProductDetails-image-kit {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
} */

.ProductDetails-info {
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* flex-direction: column; */
  margin: 2rem auto;
  flex: 1 1 390px;
  /* width: 2rem; */
}

.ProductDetails-info-title {
  margin-left: 0.5rem;
  padding: 0.5rem;
  color: #444;
}

.ProductDetails-ListItemIcon,
.ProductDetails-info-description {
  /* border-top: solid 1px rgb(211, 211, 211); */
  margin: 0.5rem;
  padding: 0.5rem;
  color: #444;
}

.ProductDetails-ListItemIcon-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ProductDetails-aboutDetails {
  /* border-top: solid 1px rgb(211, 211, 211); */
  margin-top: 2rem;
  color: #777;
  font-size: 0.9rem;
}

.ProductDetails-aboutDetails-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 1rem;
}

.ProductDetails-aboutDetails-item p {
  margin-left: 0.5rem;
}

.ProductDetails-quantity {
  display: flex;
  align-items: center;
  margin: 1rem 0.5rem;
}

.ProductDetails-quantity-counter {
  margin: 0 1.5rem;
  user-select: none;
}

.ProductDetails-quantity-container-sum,
.ProductDetails-quantity-container-sub {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: rgb(227, 236, 242);
  /* border-radius: 50%; */
  /* border: solid rgb(211, 211, 211) 1px; */
  border: solid rgb(211, 211, 211) 1px;
  cursor: pointer;
  /* margin: 0 .5rem; */
}

.ProductDetails-quantity-sum-button {
  font-size: 1.5rem;
  user-select: none;
  margin-bottom: 0.1rem;
}
.ProductDetails-quantity-sub-button {
  font-size: 2rem;
  user-select: none;
  margin-bottom: 0.2rem;
}

.ProductDetails-info-alert {
  color: red;
}

.ProductDetails-info-purchase {
  margin: 0 0.5rem;
}

.ProductDetails-info-price {
  font-size: 2rem;
  margin: 1rem;
  color: #444;
}

.ProductDetails-info-review {
  display: flex;
  align-items: center;
  margin: 0 0.8rem;
}

.ProductDetails-info-review p {
  margin-left: 0.5rem;
}

.ProductDetails-info-purchase-button {
  /* margin: 0 1rem; */
  cursor: pointer;
  width: 15rem;
  padding: 0.4rem;
  border-style: none;
  /* border-radius: 20px; */
  background-color: rgb(177, 49, 49);
  color: #fff;
  font-size: 1rem;
  user-select: none;
}

@media only screen and (max-width: 1115px) {
  .ProductDetails {
    margin: 2rem 5%;
  }
  
}

@media only screen and (max-width: 768px) {
  /* .ProductDetails-image-container {
    width: 12rem;
    height: 18rem;
  } */
  .ProductDetails-image-block {
    margin: 0;
  }
}
